<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="communication" class="com.infotech.service.Communication">
		<property name="messaging" ref="messaging"></property>
	</bean>

	<bean id="messaging" class="com.infotech.message.ActiveMQMesssage">
	</bean>
</beans>